.third-section {
    width: calc((100% / 12) * 10);
    margin: 0 auto;
    padding-top: 21.5rem;
    background-image: url("../img/thirdSectionBG.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 43%;
    background-position-y: 19rem;
    &>h2 {
        margin-left: 36px;
    }
    &__content--1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 7rem;
        &>div {
            width: 45%;
            position: relative;
            &>img {
                width: calc((100% / 5) * 4);
                position: absolute;
                bottom: 0;
            }
        }
        &>ul {
            width: 50%;
            &>li {
                p.p {
                    font-size: 1.5rem;
                }
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
    &__content--2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 31.8rem;
        img {
            width: 100%
        }
        &>div {
            width: 45%;
            &:nth-of-type(1) {
                &>p.p {
                    font-size: 2rem;
                    margin-bottom: 5.2rem;
                }
                &>img {
                    margin-bottom: 7.2rem;
                }
            }
            &:nth-of-type(2) {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding-top: 9.5%;
                &>ul {
                    margin-bottom: 8.25rem;
                    &>li {
                        &:not(:last-child) {
                            margin-bottom: 3rem;
                        }
                        &>p.p {
                            font-size: 2.5rem;
                            line-height: 4rem;
                            &::before {
                                content: url("../img/icons/dot.svg");
                                display: inline-block;
                                width: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}