.letter-sp{
    letter-spacing: 10px;
}
.base-p{
    padding-left:$padding;
    padding-right:$padding;
}

@include respond(phone){
    .base-p{
        padding-left:27px;
        padding-right:27px;
        overflow: hidden;
    }
}