$text-color:#3C3C3C;
$main-gradient:linear-gradient(#34C247, #0B3A0B);
$main-color:#19A73A;
$padding: 60px;
$bg-gradient:linear-gradient(rgba(29, 153, 29, 0.8), rgba(13, 44, 13, 0.9));


@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 415px) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 1105px)  {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width:1105px) and (min-width:1369px) and (orientation: landscape) {
            @content
        }
        ;
    }
    @if $breakpoint==desktop {
        @media only screen and (max-width: 1430px) {
            @content
        }
        ;
    }
}